<div class="page">
    <div class="frame">
        <div class="heading">
            <span class="welcome">
                Welcome to
            </span> 
            <span class="unstop">
                Unstop
            </span>
        </div> 
    
        <div class="content">
            <img src="../../../assets/images/profileframe.png" alt="Profile" id="profile" />
            <div class="profiletext">
                <div class="name">
                    Michael Dam
                </div>
                <div class="details">
                    <div class="emailid">
                        example@gmail.com
                    </div>
                    <div class="gender">
                        Female
                    </div>
                </div>
                <button type="submit" class="logout-btn"
                (click)="onLogout()">
                    <div class="btn-text">
                        Logout
                    </div>
                </button>
            </div>
        </div>
    
    </div>
</div>
